<div ng-include="enc.menuTemplate.url"></div>
 <div class="container">
<div class="col-md-12" ng-if="enc.edit==false && enc.new == false">
	<div class="col-md-12"><a class="col-md-4 pull-right btn btn-success" ng-click="enc.new= true;"><i class="glyphicon glyphicon-plus-sign"></i> Nueva encuesta</a></div>
	<table class="table table-striped table-hover">
		<thead>
			<th>Id</th>
			<th>Nombre</th>
			<th>Acciones</th>
		</thead>
		<tbody>
			<tr ng-repeat="e in enc.encuestas ">
				<td>{{e.id}}</td>
				<td>{{e.name}}</td>
				<td class="col-md-6 ">
					<a class="btn btn-info col-md-3" ng-click="enc.showedit(e.id);"><i class="glyphicon glyphicon-edit"> </i></a>
					<a class="col-md-3 col-md-offset-1 btn btn-primary"><i class="glyphicon glyphicon-export"></i></a>
					<a class="col-md-3 col-md-offset-1 btn btn-danger" ng-click="enc.eliminar(e.id);"><i class="glyphicon glyphicon-remove-circle"></i></a>
				</td>
			</tr>
			<tr ng-if="enc.encuestas.length<=0" class="text-center"><td colspan="3">No Existen Encuestas Creadas Actualmente</td></tr>
		</tbody>
	</table>
</div>
<div class="col-md-12" ng-if="enc.edit==true">
	<div class="col-md-12"><h1>{{enc.single.name}}</h1></div>
	<div class="col-md-12 well">
		<div class="form-group">
			<span>Nombre de La encuesta:</span>
			<input type="text" ng-model="enc.single.name" class="form-control">
		</div>
		<div class="col-md-12"><a class="pull-right btn btn-info" ng-click="enc.put();"><i class="glyphicon glyphicon-refresh"></i> Actualizar</a></div>
	</div>
</div>
<div class="col-md-12" ng-if="enc.new==true">
	<div class="col-md-12"><h1>Nueva Encuesta</h1></div>
	<div class="col-md-12 well">
		<div class="form-group">
			<span>Nombre de La encuesta:</span>
			<input type="text" ng-model="enc.newsingle.name" class="form-control">
		</div>
		<div class="col-md-12"><a class="pull-right btn btn-info" ng-click="enc.guardar();"><i class="glyphicon glyphicon-ok"></i> Guardar</a><a class="pull-right btn btn-danger" ng-click="enc.new=false"><i class="glyphicon glyphicon-remove"></i> Cancelar</a></div>
	</div>
</div>
</div>